*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.sectionHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100px;
    background-color: black;
    border-radius: 10px;
    display: none;
    z-index: 1;
    opacity: 0.8;
}

.blank {
    position: absolute;
}

.sectiondetail {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 35px;
    background-color: red;
    border-radius: 150px;
}

.WaitHover:hover .sectionHover {
    display: block;
}



.schedules {
    position: relative;
    height: 240px;
    width: 350px;
}

.schedulehead {
    height: 30px;
    text-align: center;
    font-size: large;
    color: red;
    vertical-align: central;
}

table.fixed {
    table-layout: fixed;
    text-align: center;
    font-size: small;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #808080;
    }

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-track:active {
        background: #ffffff;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

.blockbtn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ff0000;
    background: #ffffff;
    border: solid #ff0000 2px;
    text-decoration: none;
    width: 100px;
    height: 25px;
}

.allowbtn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #008f05;
    background: #ffffff;
    border: solid #008f05 2px;
    text-decoration: none;
    width: 100px;
    height: 25px;
}

.viewbtn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #5100ff;
    background: #ffffff;
    border: solid #5100ff 2px;
    text-decoration: none;
    width: 100px;
    height: 25px;
}

.openDetail {
    padding: 5px;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    text-align: center;
}

.scheduleDetails {
    padding: 5px;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    display: none;
}
