@{
    Layout = "~/Views/Shared/master_template.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseManagement</title>
</head>
<body>
    <div> 

    </div>
</body>
</html>
