@using SeniorProject.Models
@model CurrentEnrollmentRecordList


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/master_template.cshtml";
}

<div class="container">
    <table class="table">
        <thead>

        </thead>
    </table>
</div>
